.gradle
build/
eclipse/
gradle/
gradlew
gradlew.bat
out/
Redstone-Alchemy.iml
Redstone-Alchemy.ipr
Redstone-Alchemy.iws

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
